.background-1 {
    background: url('../backgrounds/dark-brick-wall.png')
}

.background-2 {
    background: url('../backgrounds/hotel-wallpaper-black.png')
}

.background-3 {
    background: url('../backgrounds/folk-pattern-black.png')
}

.background-4 {
    background: url('../backgrounds/mosaic.png')
}

.border-dashed {
    border-style: dashed;
}
