<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.0.2/vue.global.js" integrity="sha512-REb0S2epbS0XtS28ifNa1haxmTZigXjB+Tx5IHCvXZndWB2RL431Vt1qONzFoe0dPwA8WGow+xxkQwhVr44nRg==" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/crypto-js.min.js" integrity="sha512-nOQuvD9nKirvxDdvQ9OMqe2dgapbPB7vYAMrzJihw5m+aNcf0dX53m6YxM4LgA9u8e9eg9QX+/+mPu8kCNpV2A==" crossorigin="anonymous"></script>
    </head>
    <body class="d-flex justify-content-center background-2">
        <div class="d-flex align-items-center flex-column m-5 p-4 border border-light bg-light rounded" id="app">
            <p>
                Softwire Manchester's secret identity is <i>The Order</i>.
            </p>
            <p>
                <i>The Order</i> has fourteen members, you will need their assistance, identify them all to proceed:
                <form id="form" v-on:submit.prevent>
                    <input class="form-control" v-model="name" placeholder="e.g. Leon Cieslik" />
                </form>
            </p>
            <p>
                <ul>
                    <li v-for="name in namesAlphabetically" :key="name">
                        {{ name }}
                    </li>
                </ul>
            </p>
        </div>
        <script>

            var hashedNames = [
                "fac448106945dd6efd5fdca2fd293fa4240edec3",
                "02283df772602baecb0488b488cbfa5bbc49e1eb",
                "00bccc3947297b798562e1510a6a7df388428094",
                "d8e81ad2b8cc46d7b18fb7cb4a054dd8873f77f4",
                "1dd14b1f810fedf036eecdf1882a19d24b6ad2fd",
                "e46c3d5ef60e6b4f683c8c1f0d94552df1810630",
                "5125dd371f576424d215b30c30af9134b8a133be",
                "c05bd9e79fc3bf036a4f6e4e760542e89ea5b663",
                "7a6cb6df383a7987e26e23b9a47c17ce0c12b1fa",
                "57696f41577ec7ff4222012dc65377953f38ffef",
                "22896eeadf9fd20aecedff3d1ccf090e54d4c8a6",
                "63a992d9167c2177f7c676e535a333a5b814cb9a",
                "6bfe8ac1530967776aed6bc74422ea5ee7f80d64",
                "51f42ccf37995b72f9353e331e6c98e3a26b855f"
            ];

            Vue.createApp({
                data: function () {
                    return {
                        name: '',
                        names: []
                    }
                },
                computed: {
                    namesAlphabetically() {
                        return this.names.sort();
                    }
                },
                watch: {
                    name: function (valueTypedByUser) {
                        var trimmedName = valueTypedByUser.trim();
                        if (this.names.indexOf(trimmedName) > -1) {
                            return;
                        }
                        var hashedName = CryptoJS.SHA1(trimmedName).toString()
                        if (hashedNames.indexOf(hashedName) > -1) {
                            this.names.push(trimmedName);
                            this.name = '';
                        }

                        if (this.namesAlphabetically.length === 14) {
                            var allNames = this.namesAlphabetically.join('');
                            var allNamesHashed = CryptoJS.SHA1(allNames).toString()
                            window.location = 'sudoku.html?previous=' + allNamesHashed;
                        }
                    }
                }
            }).mount('#app');

        </script>
    </body>
</html>
